.work {
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;

  &__project-one, &__project-two {
    width: 50%;
    height: 50vh;
    margin: 0;
    padding: 0;
  }

  &__project-one {
    background: url(levup-tease.jpg) no-repeat cover;
  }

  &__project-two {
    background: url(alison-tease.jpg) no-repeat cover;
  }
}
