section.about#about
  h2.about__title About Me
  p.about__title--bg 01
  img.about__title--divider(src="/assets/img/leaf-divider.png")
  
  // img.about__image(src="/assets/img/about-bg.png")
  
  h3.about__headline The math lessons using fractions, indeed, prove true. There’s no other way to say it: the sum of me is one half of my mother and one half of my father.
  
  hr.about__text-divider
  
  .wrapper__two-column
    .wrapper__two-column--column-one 
      p I grew up in Montgomery, Alabama, surrounded by love, laughter, and Auburn football. My mother is an educator, having spent nearly 28 years first as a special education teacher and now as a school psychologist. She never pushed education upon me as a career, allowing me to fall in love with it on my own. And I have.  
      p After graduating from Saint James School, I embarked on my collegiate journey. I always knew the Loveliest Village on the Plains was for me. I entered college with the passion to be an elementary school teacher, and that passion has grown. 
      p I was admitted to Auburn University’s Elementary Education program in 2014. The two-year program both challenged and inspired me to become a better teacher. My high marks earned membership in Phi Kappa Phi collegiate honor society. I am on track to graduate Summa Cum Laude in May 2016.
    .wrapper__two-column--column-two
      p It is my dream to inspire and excite children to become life long learners and to help them reach their full potential. The adorable Kid President once said, “You were made to be awesome.” My aim is to convey that sentiment to each and every student I have the opportunity to teach. 
      p I am a firm believer that coffee starts every day off right. School supplies excite me more than they should any human being. Despite being tethered to electronics like most my age, I still get a joy from writing things down in my old-school planner. As for my personal interests, this is where the one-half of my father kicks in: I am an Auburn football fanatic. Thanks to my dad, I love most all sports. 
      p As for my other hobbies, I love antiques, flea markets, and “fixer-upper” shows on television. More than anything, I treasure my relationship with God. For further information about me, explore this webpage or please feel free to contact me.
