section.education#education
  h2.education__title Education
  p.education__title--bg 05
  img.education__title--divider(src="/assets/img/leaf-divider.png")
  
  .education__three-column 
    .education__three-column--column
      img(src="/assets/img/elementary-ed.svg")
      h3 B.S. Elementary Education
      p Spent seven semesters on the Dean’s List during my time at Auburn.
    .education__three-column--column
      img(src="/assets/img/suma-cum-laude.svg")
      h3 Suma Cum Laude
      p Graduated Auburn University with a 3.86 GPA overall, but kept a 4.00 GPA in my major.
    .education__three-column--column
      img(src="/assets/img/phi-kappa-phi.svg")
      h3 Phi Kappa Phi
      p Nationally recognized collegate honor society.
