section.hero#hero
  .hero__wrapper
    .hero__wrapper--content
      h1.hero__title Alison Ingram
      p.hero__subtitle Elementary Education
      p.hero__content “Education helps children establish their character. I hope I never forget the immense responsibility it is to shape the future in both intelligence, but most importantly character.”
      p.hero__content Read more about me and my education experience below.
      .button-wrapper
        a.hero__cta.smoothScroll(href="#about") More about me
        a.hero__cta--secondary(href="#" target="_blank") View my resume
