section.hero
  .blur--background
  .hero__wrapper
    p.hero__subtitle Elementary Education
    .position--center
      h1.hero__quote "And then I realized adventures are the best way to learn"
      p.hero__author -Anonymous
      button.hero__cta Read more below
