nav#nav-bar
  .nav
    h1.nav__title#nav-type Alison Ingram

    ul.nav__links
      li#border-about 
        a#nav-about(href="#about") About
      li#border-experience
        a#nav-experience(href="#experience") Experience
      li#border-philosophy
        a#nav-philosophy(href="#philosophy") Philosophy
      li#border-education
        a#nav-education(href="#education") Education
      li#border-contact
        a#nav-contact(href="#contact") Contact
      
  
