nav
  .nav
    h1.nav__title Alison Ingram

    ul.nav__links
      li 
        a(href="#about") About
      li
        a(href="#experience") Experience
      li
        a(href="#philosophy") Philosophy
      li
        a(href="#education") Education
      
      a(href="#contact").nav__mail
        img(src="/assets/img/email.svg")
  
