section.philosophy#philosophy
  h2.philosophy__title Teaching Philosophy
  p.philosophy__title--bg 04
  img.philosophy__title--divider(src="/assets/img/leaf-divider.png")

  .wrapper__two-column.no-padding
    .wrapper__two-column--column-one 
      p I believe in the individuality of children, and that each child has the potential to bring something new and special to this world. As a teacher I will help children learn to believe that they are capable individuals. In doing so, potential will develop in them. In the process, I will strive to help students develop their own ideas and express their opinions. As a teacher, I believe my role is to guide the students as they search for knowledge and to find answers to life’s questions. For them to be able to gain knowledge, they must be given opportunities to discover. By providing opportunities for children to discover new things, I hope to establish the importance of intellectual curiosity and the desire to be lifelong learners. 
    .wrapper__two-column--column-two
      p One of the most beneficial aspects of being a teacher is to see the progress students are making in their learning. Assessments are a key tool when it comes to observing students’ progress. The assessments in my classroom will be both formal and informal. It is my job to make sure students can apply their knowledge in both traditional and alternative assessments. As a teacher, it is important to realize that assessment is not just a student role, but one for the teacher as well. Assessing my teaching will allow me to better achieve my goal of making my students lifelong learners.  
      p I am a lifelong learner, which carries theresponsibility of improving my teaching.
    
  h3.philosophy__headline "I believe in the individuality of children, and that each child has the potential to bring something new and special to this world." 
 
  .wrapper__two-column
    .wrapper__two-column--column-one 
      p Since every child is unique, each learning strategy will be special in its own right. As a teacher, I will do my best to reach every learning strategy through group work, interactive lectures, and hands-on activities. Because children have different learning styles, I will have to accommodate these styles so that they are useful for learning. Many students will take up habits from me, so I must show interest in the lesson myself, and be enthusiastic about learning. I must convince the students that they are knowledgeable before they will want to learn. I will try to point out each of their abilities,  give them a sense of pride in who they are, and focus on the idea that the classroom is a place where the students can share ideas and learn from each other. Students should value their differences and feel comfortable sharing  them with others without fear of criticism. 
    .wrapper__two-column--column-two
      p.no-indent Keeping diligent student records will assist me in my self-reflection process. It is essential to seek professional development throughout my career and continue my lifelong learning goal. Professional development is an important path to ensure that learning does not stop once you finish school.   
      p It has been said that intelligence and character is the true goal of education. As a teacher, it is important for me to equip my students with the ability to apply information in the real world; I can never forget that education does not simply stop at facts. Education helps children establish their character. I hope I never forget the immense responsibility it is to shape the future in both intelligence, but most importantly character.
