ul
  li Home
  li About
  li Experience
  li Philosophy
  li Education
  li Contact

i.share__facebook.fa.fa-facebook
i.share__twitter.fa.fa-twitter
i.share__google.fa.fa-google-plus
i.share__email.fa.fa-envelope  
