nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 60px;
  height: 3.75rem;
  background: #fff;
  z-index: 999;
  transition: all .5s ease-out;
  @include shadow(1);
  display: none;
}
.nav {
  display: flex;
  align-items: center;
  position: absolute;
  max-width: 960px;
  width: 80%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  margin: 0;

  &__title {
    flex-grow: 1;
    margin: 0;
    @include font-smoothing;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: em(26);
    transition: all .5s ease-out;

    & a {
      text-decoration: none;
      color: $text-color-dark;
    }
  }
  &__links {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &__links li {
    list-style-type: none;
    display: inline;
    padding: 16.5px 1em;
    margin: 0;
    @include font-smoothing;
    display: inline;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    transition: all .2s ease-out;
  }
  &__links li a {
    margin: 0;
    color: $text-color-dark;
    text-decoration: none;
    transition: all .5s ease-out;
    height: 100%;
  }
}
