.position--center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba($primary-dark, 0.3), rgba($primary-dark, 0.3)), url(/assets/img/alison_cropped.jpg);
  background-size: cover;
  background-position: bottom center;

  &__wrapper {
    display: block;
    max-width: 960px;
    width: 80%;
    height: 100%;
    padding: 0;
    margin: 0 auto;

    &--content {
      width: 375px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__title {
    font-family: $display-font;
    font-size: em(72);
    font-weight: 400;
    color: $text-color-light;
    margin: 0;
  }
  &__subtitle {
    font-family: $sans-font;
    font-size: em(14);
    color: #fff;
    transition: all .5s ease-out;
    margin: 0;
  }
  &__content {
    font-family: $serif-font;
    font-size: em(17);
    color: #fff;

    &--secondary {
      margin-bottom: 1em;
    }
  }
  &__cta {
    font-family: $sans-font;
    text-decoration: none;
    font-size: em(15);
    font-weight: 600;
    text-align: center;
    background: $accent-color;
    display: inline;
    border: none;
    border-radius: em(23);
    outline: none;
    padding: .85em 2em;
    color: #fff;
    transition: all .2s ease-out;

    &:hover {
      background: #BA985B;
    }

    &--secondary {
      @extend .hero__cta;
      display: inline;
      background: rgba(255, 255, 255, 0.3);
      margin-left: 20px;

      &:hover {
        background: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

.button-wrapper {
  height: em(46);
  padding: em(23) 0;
}
