$primary-color: #2C3E50;
$primary-dark: shade($primary-color, 50%);
$accent-color: #DCB570;
$text-color-dark: rgba($primary-color,0.87);
$text-color-light: rgba(#fff, 0.87);
$bg-color: #FBFCFC;
$link-color: $accent-color;
$btn-hover: #BA985B;
