doctype html
html
  head
    include ./partials/head.jade
  body
    .site-wrapper
      nav.nav-wrapper
        include ./partials/nav.jade
      main.content-wrapper
        include ./partials/content-fill.jade
