.home-wrap nav {
  width: 100px;
  display: flex;
  background: #888;

  .nav-position {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100px;
    flex-direction: column;
    justify-content: flex-start;
  }
}
